:root {
  --white-color: #ffffff;
  --brand-color: #fd9222;
  --black-color: #111111;
  --hover-color: #fcf1e0;
  --text-color: #ffffffb2;
  --bg-color: #1e1823;
  --body-color: #fafafa;
  --border-color: #1111111a;
  --products-text-color: #111111b2;
  --color-play: #f5f4f4;
  --modal-head: #000000;
  --modal-border: #1111110d;
  --color-placeholder: #4040404d;
  --line-color: #ffffff1a;
}
body {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-color);
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

textarea {
  resize: none;
}

.section {
  padding: 64px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
@media screen and (max-width: 767.9px) {
  .container {
    max-width: 380px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .container {
    max-width: 768px;
  }
}

/* header */

.header-class {
  padding-bottom: 8px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-lists {
  display: flex;
  flex-grow: 1;
  gap: 24px;
}

.nav-head-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header-logo {
  display: flex;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--black-color);
  text-decoration: none;
}

.header-accent {
  font-style: italic;
}

.nav-ul-list {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  justify-content: center;
}

@media screen and (max-width: 1199.98px) {
  .nav-ul-list {
    display: none;
  }
}

.nav-li-item {
  display: inline-block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: var(--black-color);
  padding: 24px 0;
}

.header-div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width: 1199.98px) {
  .header-div-icon {
    display: none;
  }
}

.header-icon {
  stroke: var(--black-color);
  fill: var(--white-color);
  transition: stroke 0.2s;
}

.header-icon:hover {
  stroke: var(--brand-color);
}

.header-icon-mobile {
  border: none;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--black-color);
  fill: var(--white-color);
  transition: stroke 0.2s;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header-icon-mobile {
    display: none;
  }
}
/* Hero-section */
.hero-section {
  padding-bottom: 72px;
}

.hero-image {
  background-color: var(--bg-color);
  max-width: 1136px;
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
  background-image: url(./foto/chocolate-covered-cocoa-powder\ 1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 767.98px) {
  .hero-image {
    background-image: url(./foto/chocolate-covered-cocoa-powder\ 1mob.jpg);
    max-width: 335px;
    max-height: 620px;
    padding: 395px 20px 20px 20px;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767.98px) {
  .hero-image {
    background-image: url(./foto/chocolate-covered-cocoa-powder\ 1mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero-image {
    background-image: url(./foto/chocolate-covered-cocoa-powder\ 1tab.jpg);
    max-width: 704px;
    max-height: 890px;
    padding: 671px 40px 40px 40px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199.98px) {
  .hero-image {
    background-image: url(./foto/chocolate-covered-cocoa-powder\ 1tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-image {
    background-image: url(./foto/chocolate-covered-cocoa-powder\ 1desk.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1200px) {
  .hero-image {
    background-image: url(./foto/chocolate-covered-cocoa-powder\ 1desk@2x.jpg);
  }
}

.hero-head {
  color: var(--white-color);
  max-width: 484px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 32px;
}
@media screen and (max-width: 767.98px) {
  .hero-head {
    max-width: 295px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.button-hero-section {
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .button-hero-section {
    flex-direction: column;
    gap: 32px;
  }
}

.button-primary-second {
  display: flex;
  gap: 14px;
}

.primary-button {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  text-align: left;
  color: var(--white-color);
  background-color: var(--brand-color);
  border-radius: 100px;
  border: 1px solid;
  padding: 14px 40px;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 767.98px) {
  .primary-button {
    padding: 12px 26px;
    max-width: 120px;
    max-height: 41px;
  }
}

.primary-button:hover {
  color: var(--brand-color);
  background-color: var(--hover-color);
}

.secondary-button {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--white-color);
  border-radius: 100px;
  padding: 14px 40px;
  border: 1px solid var(--white-color);
  text-decoration: none;
}

@media screen and (max-width: 767.98px) {
  .secondary-button {
    padding: 12px 23px;
    max-width: 159px;
    max-height: 41px;
  }
}

.button-scroll {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--white-color);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .button-scroll {
    margin-left: auto;
  }
}

.button-scroll:hover {
  color: var(--brand-color);
}

.div-button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--brand-color);
  border-radius: 50%;
  background-color: var(--white-color);
  width: 38px;
  height: 38px;
}
@media screen and (max-width: 767.98px) {
  .div-button-arrow {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 767.98px) {
  .button-arrow {
    width: 16px;
    height: 16px;
  }
}

.button-scroll:hover .div-button-arrow {
  fill: var(--white-color);
  background-color: var(--brand-color);
}

/* Advantage section */
.advantage-section {
  background-color: var(--bg-color);
}

.advantage-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767.9px) {
  .advantage-list {
    padding-right: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .advantage-list {
    gap: 60px 32px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    gap: 70px;
  }
}

.advantage-item {
  flex-basis: calc((100% - 140px) / 3);
}

.advantage-item:not(:last-child) {
  padding-right: 18px;
  position: relative;
}

.advantage-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  width: 124px;
  height: 1px;
  background-color: var(--text-color);
  transform: rotate(-90deg) translateX(50%);
  transform-origin: 100% 100%;
}

@media screen and (max-width: 767.9px) {
  .taste-list {
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1199.9px) {
  .advantage-item:not(:last-child)::after {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  fill: var(--brand-color);
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.advantage-head {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-align: left;
  color: var(--white-color);
  margin-bottom: 18px;
}

.advantage-text {
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--text-color);
}

@media screen and (max-width: 1199.9px) {
  .advantage-text {
    width: 305px;
  }
}

/* Taste-section */

.head-all-section {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-color);
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.accent-all-section {
  color: var(--brand-color);
}

.taste-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-color);
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.taste-list {
  display: flex;
  gap: 19px;
}

@media screen and (max-width: 767.9px) {
  .taste-list {
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .taste-list {
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.taste-item {
  /* flex-basis: calc((100% - 57px) / 4); */
  flex-basis: 100%;
  max-width: 270px;
  max-height: 270px;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .taste-item {
    flex-basis: calc((100% - 32px) / 2);
    max-width: 336px;
    max-height: 270px;
  }
}

@media screen and (max-width: 767.9px) {
  .taste-item {
    max-width: 336px;
    max-height: 270px;
  }
}

.taste-item-div {
  background-color: var(--brand-color);
  border-radius: 15px;
  padding: 28px;
  padding-right: 36px;
}

@media screen and (min-width: 1200px) {
  .taste-item-div {
    width: 270px;
    height: 270px;
  }
}

@media screen and (max-width: 1199.9px) {
  .taste-item-div {
    max-width: 336px;
    max-height: 270px;
  }
}

.taste-nuts-div {
  background-color: var(--bg-color);
}

.taste-item-div-milk-semi {
  background-color: var(--white-color);
  border: 1px solid var(--brand-color);
  border-radius: 15px;
  padding: 28px;
  padding-right: 36px;
}

@media screen and (min-width: 1200px) {
  .taste-item-div-milk-semi {
    width: 270px;
    height: 270px;
  }
}

@media screen and (max-width: 1199.98px) {
  .taste-item-div-milk-semi {
    max-width: 336px;
    max-height: 270px;
  }
}

.taste-item-foto {
  margin: 0 auto;
  margin-bottom: 36px;
}

@media screen and (max-width: 1199.98px) {
  .taste-item-foto {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .taste-item-foto {
    width: 206px;
    height: 160px;
  }
}

.head-card {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-color);
  text-transform: uppercase;
}

.head-card-milk-semi {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
}

/* Work-section */

.work-section-all-div {
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 767.9px) {
  .work-section-all-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .work-section-all-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.work-section-foto-div {
  position: relative;
}

.work-section-foto {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 600px;
  max-height: 400px;
}

@media screen and (max-width: 767.98px) {
  .work-section-foto {
    max-width: 100%;
    max-height: 100%;
    width: 335px;
    height: 500px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .work-section-foto {
    max-width: 100%;
    max-height: 100%;
    width: 614px;
    max-height: 400px;
  }
}
.work-section-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-play);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  fill: var(--color-play);
}
@media screen and (max-width: 767.98px) {
  .work-section-icon-div {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 767.98px) {
  .work-section-icon {
    width: 14px;
    height: 15px;
  }
}

.work-section-text-div {
  padding: 32px;
  background-color: var(--white-color);
  border-radius: 15px;
  max-width: 516px;
  max-height: 400px;
  flex-grow: 1;
}
/* TODO */

@media screen and (max-width: 767.9px) {
  .work-section-text-div {
    max-width: 335px;
    max-height: 456px;
    padding: 20px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .work-section-text-div {
    max-width: 100%;
    max-height: 100%;
    width: 614px;
    height: 356px;
  }
}
/* TODO */

.work-section-head {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: left;
  color: var(--black-color);
  margin-bottom: 28px;
  max-width: 100%;
  /* max-width: 350px; */
}

@media screen and (max-width: 767.9px) {
  .work-section-head {
    margin-bottom: 20px;
  }
}

.work-section-list {
  list-style-type: disc;
}

.work-section-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--black-color);

  max-width: 436px;
}

.work-section-item:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (max-width: 767.9px) {
  .work-section-item:not(:last-child) {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .work-section-item:not(:last-child) {
    margin-bottom: 18px;
  }
}

/* Products-section */
.products-list {
  display: flex;
  gap: 18px;
  padding-bottom: 32px;
  justify-content: center;
}

@media screen and (max-width: 767.9px) {
  .products-list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .products-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.products-item {
  /* flex-basis: calc((100% - 54px) / 4); */
  flex-basis: 100%;
  padding: 32px 20px;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
}
@media screen and (min-width: 1200px) {
  .products-item {
    max-width: 270px;
    height: 364px;
  }
}

@media screen and (min-width: 768px) {
  .products-item {
    flex-basis: calc((100% - 18px) / 2);
  }
}

@media screen and (max-width: 767.98px) {
  .products-item {
    padding: 32px 52px 32px 53px;
    width: 335px;
    height: 364px;
  }
}
.products-item:hover .products-overlay {
  transform: translateY(0%);
}

.products-item-div {
  position: relative;
  overflow: hidden;
}

.products-item-img {
  max-width: 230px;
  max-height: 201px;
  margin-bottom: 8px;
  margin: 0 auto;
}

.products-item-head {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--black-color);
  text-transform: uppercase;
  margin-bottom: 2px;
  text-align: center;
}

.products-item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: var(--products-text-color);
  margin-bottom: 18px;
  text-align: center;
}

.products-item-price {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.22;
  color: var(--black-color);
  text-transform: uppercase;
  text-align: center;
  padding: 8px 20px;
  border: 1px solid var(--border-color);
  background-color: var(--body-color);
  max-width: 100px;
  border-radius: 100px;
  margin: 0 auto;
}

.products-overlay {
  background-color: var(--brand-color);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(101%);
  transition: transform 1s;
}

.products-icon-list {
  display: flex;
  gap: 13px;
  justify-content: center;
}

.products-icon {
  fill: var(--brand-color);
}

.products-icon-secondary {
  background-color: var(--border-color);
  border-radius: 50%;
}
/* Sellers Section */
.sellers-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 767.98px) {
  .sellers-list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .sellers-list {
    justify-content: space-between;
    align-items: center;
  }
}
.sellers-item {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .sellers-item {
    flex-basis: calc((100% - 18px) / 2);
  }
}

.sellers-foto {
  width: 344px;
  height: 464px;
  border-radius: 15px;
}

@media screen and (max-width: 767.98px) {
  .sellers-foto {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .sellers-foto {
    width: 344px;
    height: 464px;
  }
}

@media screen and (max-width: 1199.98px) {
  .sellers-foto-accent {
    display: none;
  }
}

.sellers-parg-button-div {
  display: flex;
  justify-content: space-between;
}

.sellers-button {
  text-align: center;
  width: 162px;
  height: 50px;
  padding: 14px 40px;
}
@media screen and (max-width: 767.98px) {
  .sellers-button {
    width: 120px;
    height: 41px;
    padding: 12px 27px;
    margin: 0 auto;
  }
}

.sellers-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--black-color);
  max-width: 407px;
}
@media screen and (max-width: 767.98px) {
  .sellers-text {
    display: none;
  }
}

.sellers-text-accent {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--black-color);
  max-width: 306px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .sellers-text-accent {
    display: none;
  }
}

/* comment section */
.comment-section {
  padding-bottom: 41px;
}

.comment-list {
  display: flex;
  gap: 28px;
  padding-bottom: 32px;
  justify-content: center;
}

@media screen and (max-width: 767.9px) {
  .comment-list {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .comment-list {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
}
/* @media screen and (min-width: 1200px) {
  .comment-list {
    
  }
} */

.comment-item {
  /* flex-basis: calc((100% - 56px) / 3); */
  border-radius: 15px;
  background-color: var(--white-color);
  max-width: 360px;
  padding: 56px 24px 42px;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .comment-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

.comment-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin-bottom: 18px;
}

.comment-head {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  margin: 0 auto;
  color: var(--black-color);
  margin-bottom: 24px;
}

.comment-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--products-text-color);
  margin: 0 auto;
}
.comment-icon-list {
  margin-bottom: 50px;
}

.comment-button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--black-color);
  background-color: var(--body-color);
  border-radius: 100px;
  padding: 14px 40px;
  border: 1px solid var(--brand-color);
  width: 222px;
  height: 50px;
}

@media screen and (max-width: 767.98px) {
  .comment-button {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    text-align: center;
    padding: 12px 26px;
    width: 165px;
    height: 41px;
  }
}
/* Subscribe-section */
.subscribe-section {
  background-color: var(--bg-color);
  background-image: url(./foto/Subcribedesk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767.98px) {
  .subscribe-section {
    background-image: url(./foto/Subcribemob.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767.98px) {
  .subscribe-section {
    background-image: url(./foto/Subcribemob@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe-section {
    background-image: url(./foto/Subcribetab.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe-section {
    background-image: url(./foto/Subcribetab@2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1200px) {
  .subscribe-section {
    background-image: url(./foto/Subcribedesk@2x.jpg);
  }
}
.subscribe-head {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-align: center;
  max-width: 378px;
  color: var(--white-color);
  margin: 0 auto;
  margin-bottom: 24px;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .subscribe-head {
    width: 291px;
  }
}

.subscribe-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white-color);
  max-width: 467px;
  margin: 0 auto;
  margin-bottom: 24px;
}

@media screen and (max-width: 767.98px) {
  .subscribe-text {
    width: 326px;
  }
}

.subscribe-button {
  display: block;
  margin: 0 auto;
  border: none;
  width: 172px;
  height: 50px;
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .subscribe-button {
    width: 128px;
    height: 41px;
    padding: 12px 24px;
  }
}

/* footer */
.footer-section {
  padding: 50px 32px;
  padding-bottom: 26px;
  background-color: var(--bg-color);
}

.footer-div {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 62px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-div {
    margin-bottom: 54px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-div {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }
}

.footer-head {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  text-align: left;
  width: 300px;
  color: var(--white-color);
}
.footer-contact-icon-div {
  display: flex;
  gap: 63px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-contact-icon-div {
    gap: 50px;
  }
}

.footer-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: var(--white-color);
  margin-bottom: 14px;
}

.footer-email-tel {
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
}

.footer-email-tel-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-icon-div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 767.98px) {
  .footer-icon-div {
    gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-icon-div {
    gap: 18px;
  }
}

.footer-icon {
  stroke: var(--white-color);
  fill: var(--bg-color);
  transition: stroke 0.2s;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 767.98px) {
  .footer-icon {
    width: 22px;
    height: 22px;
  }
}

.footer-icon:hover {
  stroke: var(--brand-color);
}

.footer-line {
  position: absolute;
  top: 185%;
  content: "";
  width: 1176px;
  height: 1px;
  background-color: var(--line-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-line {
    top: 175%;
    width: 724px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-line {
    top: 119%;
    width: 335px;
  }
}

.footer-ul-list {
  display: flex;
  gap: 24px;
  flex-grow: 1;
}

@media screen and (max-width: 767.98px) {
  .footer-ul-list {
    flex-direction: column;
    gap: 18px;
    padding-top: 32px;
  }
}

.footer-li-item {
  display: inline-block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: var(--white-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-li-item {
    padding: 24px 0;
  }
}

/* Modal */
.backdrop {
  position: fixed;
  inset: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
  max-width: 610px;
  width: 100%;
  height: 100%;
  max-height: 1058px;
  background-color: var(--body-color);
  border-radius: 15px;
  padding: 48px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-label {
  display: block;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
}

.modal-input {
  width: 100%;
  border: 1.5px solid var(--border-color);
  border-radius: 13px;
  background-color: var(--body-color);
  padding: 22px 24px;
}

.modal-input-phone {
  padding-left: 74px;
}

.modal-input:focus {
  outline: none;
  border-color: var(--brand-color);
}

.modal-input::placeholder {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  color: var(--color-placeholder);
}

.modal-textarea {
  min-height: 137px;
  width: 100%;
  border: 1.5px solid var(--border-color);
  border-radius: 13px;
  background-color: var(--body-color);
  padding: 22px 24px;
}

.modal-button {
  display: block;
  margin: 0 auto;
}

/* .backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: relative;
  width: 609px;
  background-color: var(--brand-color);
  border-radius: 15px;
  padding: 48px;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-head {
}

.form {
}

.modal-personal-div {
}

.modal-input-personal {
}

.modal-all-div {
  box-sizing: border-box;
}

.modal-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
}

.modal-input {
  border: 1.5px solid var(--border-color);
  border-radius: 13px;
  background-color: var(--body-color);
  padding: 22px 24px;
  width: 100%;
} */
